[Desktop Entry]
Type=Application
Name=APRSMap
Comment=Cross-platform APRS client
Exec=aprsmap
Icon=aprsmap
Terminal=false
Categories=HamRadio;Network;
Keywords=APRS;amateur radio;ham radio;
